/* @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"; */
:root {
  --bulma-primary-h: 48deg;
  --bulma-primary-l: 49%;
  --bulma-link-h: 143deg;
  --bulma-link-s: 54%;
  --bulma-link-l: 43%;
  --bulma-info-s: 65%;
  --bulma-info-l: 47%;
  --bulma-success-h: 143deg;
  --bulma-success-s: 54%;
  --bulma-success-l: 43%;
  --bulma-warning-h: 48deg;
  --bulma-warning-l: 49%;
}

