:root {
  --rio-gold: #f9c900;
  --rio-dark-gray: #414042;
  --rio-dark-blue: #2A6491;
  --rio-med-blue: #2A96C6;
  --rio-green: #33A961;
  --light-text: #ffffff;
  --dark-text: #404040;
  --rio-dark-gray2: #575758;

  --bulma-primary-h: 48deg;
  --bulma-primary-s: 90%;
  --bulma-primary-l: 49%;
  --bulma-link-h: 143deg;
  --bulma-link-s: 54%;
  --bulma-link-l: 43%;
  --bulma-info-s: 65%;
  --bulma-info-l: 47%;
  --bulma-success-h: 143deg;
  --bulma-success-s: 54%;
  --bulma-success-l: 43%;
  --bulma-warning-h: 48deg;
  --bulma-warning-l: 49%;

  --bulma-border-weak: hsl(0, 0%, 85%);
}