@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
:root {
    --rio-gold: #f9c900;
    --rio-dark-gray: #414042;
    --rio-dark-blue: #2A6491;
    --rio-med-blue: #2A96C6;
    --rio-green: #33A961;
    --light-text: #ffffff;
    --dark-text: #404040;
    --rio-dark-gray2: #575758;

    --bulma-primary-h: 48;
    --bulma-primary-s: 100%;
    --bulma-primary-l: 50%;
    --bulma-text: #ffffff;
    --bulma-scheme-invert: #ffffff;
}